$blandbarhet-blue: #006fa7;
$blandbarhet-mineshaft:		#222;

// Colors - contansts
// -------------------------
// http://chir.ag/projects/name-that-color/

$blandbarhet-blue: #006fa7;

$blandbarhet-wildsand: #f6f6f6;
$blandbarhet-gallery: #f0f0f0;
$blandbarhet-mercury: #e6e6e6;
$blandbarhet-alto: #dfdfdf;
$blandbarhet-silver: #ccc;
$blandbarhet-silverchalice: #aaa;
$blandbarhet-graydusty:	#999;
$blandbarhet-boulder:		#777;
$blandbarhet-graydove:		#666;
$blandbarhet-emperor:		#555;
$blandbarhet-tundora:		#444;
$blandbarhet-mineshaftlight:	#333;
$blandbarhet-mineshaft:	#222;
$blandbarhet-graycod:		#111;

$blandbarhet-linkwater:  #eef5fa;

$blandbarhet-black: 		#000;
$blandbarhet-white: #fff;