.portlet {
	margin-bottom: 10px;
	position: relative;

	> .portlet-content-editable {
		border-color: transparent;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}

	header.portlet-topper {
		@include media-query(sm) {
			position: absolute;
		}
	}
}

.portlet {
	&:hover, &.focus {
		> .portlet-content-editable {
			@include media-query(sm) {
				border-color: transparent;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}
		}

		> .portlet-topper {
			@include media-query(sm) {
				opacity: 1;

				@include transform(translateY(-97%));
			}
		}
	}
}

.portlet-content-editable {
	border-color: transparent;
	border-radius: 0 0 6px 6px;
	border-style: solid;
	border-width: 0px;
	padding: 10px;
}

/* ---------- Portlet topper ---------- */

.portlet-actions {
	float: right;
}

.portlet-options {
	display: inline-block;
}

.portlet-title-default {
	@include flex(1 1 auto);
	@include text-overflow;

	line-height: 2;
}

.portlet-title-menu {
	@include flex(0 1 auto);

	> span > a {
		display: inline-block;
		text-decoration: none;
	}
}

/* ---------- Portlet controls in mobile ---------- */

.controls-visible {
	.portlet-content-editable {
		@include media-query(null, $screen-xs-max) {
			border-color: transparent;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	}

	.portlet-topper {
		@include media-query(null, $screen-xs-max) {
			@include display(flex);
		}
	}

	.portlet-topper-toolbar {
		display: block;
	}
}
